.DS_Store
main
.env
styled-system
styled-system-studio
node_modules/
dist/
gha-creds-*.json
pkg/
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# jetbrains setting folder
.idea/