---
import Typography from '../components/typography.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout title="Track" description='Track Some Things'>
  <article>
    <header>
      <h1>
        <Typography variant='h1' color="violet">Track</Typography>
      </h1>
      
      <!-- add a scale showing where on the spectrum of front end to back end you are allow it to be slidable -->
    </header>
    <section>
      
    </section>
  </article>
</Layout>

<style>
  header {
    padding-block: 24px;
    padding-inline: 16px;
  }
</style>