package templates

import "fmt"

templ UserPage(buildId string, user Claims) {
	@Layout(buildId, HeadData{
		Title:       "User Profile",
		Description: fmt.Sprintf("User Profile - %s %s", user.Firstname, user.Surname),
		Image:       user.PictureURL,
	}, user) {
		<h1>Welcome, { user.Firstname } { user.Surname }</h1>
		<p><img src={ user.PictureURL }/></p>
		<p><b>Email</b>: { user.Email }</p>
	}
}
