---
import type { HTMLAttributes } from "astro/types";

type Variant = "primary" | "secondary";
type Props = HTMLAttributes<"button"> & {
  variant: Variant;
};

const { variant = "primary", class: className, ...props } = Astro.props;
---
<button class:list={["button", className, variant]} {...props}>
  <slot />
</button>

<style>
  .button {
    padding-block: 8px;
    padding-inline: 12px;
    font-weight: bold;
  }

  .primary {
    background-color: var(--color-french-violet-700);
    color: var(--color-french-violet-100);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-french-violet-100);
      color: var(--color-french-violet-900);
    }
  }

  .secondary {
    border: 1px solid var(--color-text);
    color: var(--color-text);
  }
</style>
