{{template "layout" .}}

{{define "title"}}Scott Powell{{end}}
{{define "description"}}Portfolio Site for Scott Powell{{end}}
{{define "image"}}{{end}}

{{define "content"}}
<h1>Home</h1>
{{ if eq .Env "development" }}
<p><a href="/auth/openid-connect">Log in</a></p>
{{ end }}
<button is="wc-button" size="lg">button</button>
<!-- <script type="text/javascript">
    signup.addEventListener("click", async (e) => {
        const response = await fetch("signup", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: ""
        });
        const json = await response.json();
        console.log(json);
    });
</script> -->
{{end}}